@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --img-size: 100px;
}
header{
  width: 100vw;
  height: 15vh;
  background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  justify-content: space-between;
}
header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #00AA45;
  align-self: center;
  font-size: 60px;
  font-weight: 700;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-text-stroke: 2px #000;
  text-shadow: -2px 2.5px black;
  border-radius: 35%;
  outline: 5px solid #1D9751;
  outline-offset: 2px;
}
.themes{
  display: none;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-2.75rem);
  background-color: whitesmoke;
  padding: 0.5rem;
}
.themes form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.themes form div{
  display: flex;
  
}
.themes form input[type="radio"]{
  appearance: none;
  height: 1rem;
  width: 1rem;
  outline: 2px solid var(--radio-color);
  outline-offset: 2px;
  border-radius: 50%;
}
.themes form input[type="radio"]:checked{
  background-color: var(--radio-color);
}
.themes form input[type="radio"]#red{
  --radio-color: red;
}
.themes form input[type="radio"]#blue{
  --radio-color: blue;
}
.themes form input[type="radio"]#green{
  --radio-color: green;
}
.themes form input[type="radio"]#yellow{
  --radio-color: yellow;
}
.themes form input[type="radio"]#pink{
  --radio-color: palevioletred;
}
.themes form input[type="radio"]#dark-red{
  --radio-color: crimson;
}
.themes form input[type="radio"]#dark-blue{
  --radio-color: navy;
}
.themes form input[type="radio"]#dark-green{
  --radio-color: darkgreen;
}
.themes form input[type="radio"]#dark-yellow{
  --radio-color: rgb(255, 208, 0);
}
.themes form input[type="radio"]#dark-pink{
  --radio-color: rgb(209, 55, 106);
}
/* :root:has(#red:checked){
  
} */

nav{
  display: flex;
  gap: 1rem;
}
nav a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-250px);
  height: 100vh;
  width: 250px;
  background-color: dodgerblue;
  animation: sidebar 0.7s forwards;
}
@keyframes sidebar{
  0%{
    transform: translateX(-250px);
  }
  100%{
    transform: translateX(0px);
  }
}

/* #about{
  height: 100vh;

  background-color: beige;
}
#contact{
  height: 100vh;
  
  background-color: lavender;
} */
