@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --img-size: 100px;
}
header{
  height: 15vh;
  background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  justify-content: space-between;
}
header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #00AA45;
  align-self: center;
  font-size: 60px;
  font-weight: 700;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-text-stroke: 2px #000;
  text-shadow: -2px 2.5px black;
  border-radius: 35%;
  outline: 5px solid #1D9751;
  outline-offset: 2px;
}
.themes{
  display: none;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-2.75rem);
  background-color: whitesmoke;
  padding: 0.5rem;
}
.themes form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.themes form div{
  display: flex;
  
}
.themes form input[type="radio"]{
  appearance: none;
  height: 1rem;
  width: 1rem;
  outline: 2px solid var(--radio-color);
  outline-offset: 2px;
  border-radius: 50%;
}
.themes form input[type="radio"]:checked{
  background-color: var(--radio-color);
}
.themes form input[type="radio"]#red{
  --radio-color: red;
}
.themes form input[type="radio"]#blue{
  --radio-color: blue;
}
.themes form input[type="radio"]#green{
  --radio-color: green;
}
.themes form input[type="radio"]#yellow{
  --radio-color: yellow;
}
.themes form input[type="radio"]#pink{
  --radio-color: palevioletred;
}
.themes form input[type="radio"]#dark-red{
  --radio-color: crimson;
}
.themes form input[type="radio"]#dark-blue{
  --radio-color: navy;
}
.themes form input[type="radio"]#dark-green{
  --radio-color: darkgreen;
}
.themes form input[type="radio"]#dark-yellow{
  --radio-color: rgb(255, 208, 0);
}
.themes form input[type="radio"]#dark-pink{
  --radio-color: rgb(209, 55, 106);
}
/* :root:has(#red:checked){
  
} */

nav{
  display: flex;
  gap: 1rem;
}
nav a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-250px);
  height: 100vh;
  width: 250px;
  background-color: dodgerblue;
  animation: sidebar 0.7s forwards;
}
@keyframes sidebar{
  0%{
    transform: translateX(-250px);
  }
  100%{
    transform: translateX(0px);
  }
}
#about{
  padding-left: 2rem;
  min-height: 85vh;
  background-color: beige;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#about h2 > span{
  background: linear-gradient(90deg, #fcb0f3 0%, #3e04dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: text 3s infinite linear;
  animation-timing-function: ease-in-out;

}
#about p{
  min-width: 300px;
  max-width: 600px;
  font-size: 24px;
  font-weight: 600;
}
@keyframes text {
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: -200% center;
  }
}
#projects{
  min-height: 100vh;
  background-color:blanchedalmond;
}
#projects h2{
  font-size: 40px;
}
.image{
  height: 300px;
  width: 300px;
  display: grid;
  place-items: center;
  position: relative;
}
.image .image-bg{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: var(--skill-bg-color);
  z-index: 0;
  filter: blur(40px);
  border-radius: 50%;
}
.image:nth-of-type(1){
  --skill-bg-color: #F16529;
}
.image:nth-of-type(2){
  --skill-bg-color: #264DE4;
}
.image:nth-of-type(3){
  --skill-bg-color: #F7DF1E;
}
.image:nth-of-type(4){
  --skill-bg-color: #00a0cc;
}
.image:nth-of-type(5){
  --skill-bg-color: #007eb4;
}
.image img{
  height: 100px;
  object-fit: cover;
  z-index: 1;
}
#skills{
  width: 100vw;
  min-height: 30vh;
  display: grid;
  place-items: center;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
#contact{
  padding-top: 15vh;
  min-height: 100vh;
  background-color: azure;
}


